@import "site_size.css";
@import "search_bar.css";

.img {
  margin-top: 65px;
}

.nav {
  position: fixed;
  top: 0;
  width: 97.3%;
  background-color: #f1f0f0;
  padding: 10px 20px;
  box-sizing: border-box;
}
.nav_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.nav_link {
  display: block;
  color: #2e363e;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.nav_btn {
  float: left;
}
